flows.json
[
    {
        "id": "8913b2ba71d3032a",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d9135ffe9bef85ab",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4c6a2f4497d81430",
        "type": "tab",
        "label": "SAVINA IOT SOLUTION",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9c31a2be52eef541",
        "type": "tab",
        "label": "MODBUS",
        "disabled": false,
        "info": ""
    },
    {
        "id": "56a3c2b9b472bafc",
        "type": "tab",
        "label": "SAVINA IOT",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e04d18c3e76b4588",
        "type": "mqtt-broker",
        "name": "localhost mqtt broker",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "e5af06c09e23668b",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "7fc3e767a76b8959",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "74631910f5503c5b",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "624d73665f48fdde",
        "type": "ui_group",
        "name": "switch",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "5034309766240607",
        "type": "ui_group",
        "name": "temp",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b8dda8c9e96b1580",
        "type": "ui_group",
        "name": "Humi",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "978cfdfe36f00c40",
        "type": "ui_tab",
        "name": "Living Home Data",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3e61fed516d4885f",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "978cfdfe36f00c40",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "8d9a465261df9809",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "978cfdfe36f00c40",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "06805510e527f9b2",
        "type": "ui_group",
        "name": "Barametric-pressure",
        "tab": "978cfdfe36f00c40",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "6e0726f0ef5a16f9",
        "type": "ui_tab",
        "name": "SAVINA IOT SOLUTION",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "96cc1f340a89752d",
        "type": "ui_group",
        "name": "Device",
        "tab": "6e0726f0ef5a16f9",
        "order": 9,
        "disp": true,
        "width": "8",
        "collapse": false
    },
    {
        "id": "79f5eb577e4276d2",
        "type": "ui_group",
        "name": "Tank Level",
        "tab": "6e0726f0ef5a16f9",
        "order": 11,
        "disp": true,
        "width": "8",
        "collapse": false
    },
    {
        "id": "6905fe91bdd3c12c",
        "type": "ui_group",
        "name": "Alarm",
        "tab": "6e0726f0ef5a16f9",
        "order": 10,
        "disp": true,
        "width": "16",
        "collapse": false
    },
    {
        "id": "ab9f65f3794d5f6a",
        "type": "ui_group",
        "name": "Power",
        "tab": "6e0726f0ef5a16f9",
        "order": 1,
        "disp": true,
        "width": 8,
        "collapse": false
    },
    {
        "id": "0bec16f9a8a9e2ec",
        "type": "ui_group",
        "name": "UI",
        "tab": "6e0726f0ef5a16f9",
        "order": 2,
        "disp": true,
        "width": 4,
        "collapse": false
    },
    {
        "id": "e649baf4927a8483",
        "type": "ui_group",
        "name": "Information",
        "tab": "6e0726f0ef5a16f9",
        "order": 6,
        "disp": true,
        "width": "16",
        "collapse": false
    },
    {
        "id": "ccde205b05e4401a",
        "type": "ui_group",
        "name": "Chart",
        "tab": "6e0726f0ef5a16f9",
        "order": 7,
        "disp": true,
        "width": "10",
        "collapse": false
    },
    {
        "id": "8219f4b12fead90b",
        "type": "ui_group",
        "name": "Mode",
        "tab": "6e0726f0ef5a16f9",
        "order": 8,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f9501af5923dc71c",
        "type": "ui_group",
        "name": "Temp",
        "tab": "6e0726f0ef5a16f9",
        "order": 3,
        "disp": true,
        "width": 2,
        "collapse": false
    },
    {
        "id": "f6839afe86d26e5a",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "6e0726f0ef5a16f9",
        "order": 4,
        "disp": true,
        "width": 2,
        "collapse": false
    },
    {
        "id": "6ae0029067544689",
        "type": "ui_group",
        "name": "Control Room",
        "tab": "6e0726f0ef5a16f9",
        "order": 5,
        "disp": true,
        "width": 8,
        "collapse": false
    },
    {
        "id": "070dc753fd7d81d1",
        "type": "ui_group",
        "name": "UI",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "5ae55452ed6ee696",
        "type": "ui_group",
        "name": "Information",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "f5fc3d3387104985",
        "type": "ui_group",
        "name": "Power",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "32551a1dbe10aedd",
        "type": "ui_spacer",
        "z": "4c6a2f4497d81430",
        "name": "spacer",
        "group": "ccde205b05e4401a",
        "order": 2,
        "width": 2,
        "height": 1
    },
    {
        "id": "c755ca6bad77590f",
        "type": "ui_spacer",
        "z": "4c6a2f4497d81430",
        "name": "spacer",
        "group": "ccde205b05e4401a",
        "order": 3,
        "width": 2,
        "height": 1
    },
    {
        "id": "2b1294d26eef4980",
        "type": "ui_spacer",
        "z": "4c6a2f4497d81430",
        "name": "spacer",
        "group": "ccde205b05e4401a",
        "order": 4,
        "width": 2,
        "height": 1
    },
    {
        "id": "71ee0c89c7a44e60",
        "type": "ui_spacer",
        "z": "4c6a2f4497d81430",
        "name": "spacer",
        "group": "ccde205b05e4401a",
        "order": 5,
        "width": 2,
        "height": 1
    },
    {
        "id": "23da78fff5e23f50",
        "type": "ui_spacer",
        "z": "4c6a2f4497d81430",
        "name": "spacer",
        "group": "ccde205b05e4401a",
        "order": 6,
        "width": 2,
        "height": 1
    },
    {
        "id": "4cadb879793206ee",
        "type": "modbus-client",
        "name": "ADAM3600",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "tcpHost": "127.0.0.1",
        "tcpPort": "1883",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true
    },
    {
        "id": "ec2942f1b10ce1f7",
        "type": "modbus-client",
        "name": "",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "tcpHost": "192.168.43.110",
        "tcpPort": "1883",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true
    },
    {
        "id": "273fd6b90ffec713",
        "type": "ui_tab",
        "name": "SAVINA IOT ",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "72d04390adc6ee7f",
        "type": "ui_group",
        "name": "Status",
        "tab": "273fd6b90ffec713",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "3704afdb5ef76ec8",
        "type": "ui_group",
        "name": "Đăng nhập",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "af2b76e150dbdd59",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "273fd6b90ffec713",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "420e8b74556266c8",
        "type": "ui_group",
        "name": "Battery",
        "tab": "273fd6b90ffec713",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "831a8462d6a881e7",
        "type": "ui_group",
        "name": "Inverter Parameter",
        "tab": "273fd6b90ffec713",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "93fa8cbc8627b07e",
        "type": "ui_group",
        "name": "Chart",
        "tab": "273fd6b90ffec713",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "4dc711c2ebdbe644",
        "type": "ui_group",
        "name": "Mode",
        "tab": "273fd6b90ffec713",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "3024e708a874ec94",
        "type": "inject",
        "z": "8913b2ba71d3032a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "10",
        "topic": "",
        "payload": "[25,5]",
        "payloadType": "json",
        "x": 390,
        "y": 140,
        "wires": [
            [
                "0178f4bc4a26458c"
            ]
        ]
    },
    {
        "id": "0178f4bc4a26458c",
        "type": "debug",
        "z": "8913b2ba71d3032a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "$max(payload)\t",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 140,
        "wires": []
    },
    {
        "id": "ba899e69cfe7e49e",
        "type": "inject",
        "z": "8913b2ba71d3032a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Hoàng Trọng Bình",
        "payloadType": "str",
        "x": 230,
        "y": 280,
        "wires": [
            [
                "3c5b500d42f45eb0"
            ]
        ]
    },
    {
        "id": "215a4539416b4a97",
        "type": "debug",
        "z": "8913b2ba71d3032a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 280,
        "wires": []
    },
    {
        "id": "3c5b500d42f45eb0",
        "type": "function",
        "z": "8913b2ba71d3032a",
        "name": "",
        "func": "var newString = msg.payload.replace(\"Hoàng Trọng Bình\", \"HoangTrongBinh\")\nreturn {payload: newString};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 280,
        "wires": [
            [
                "215a4539416b4a97"
            ]
        ]
    },
    {
        "id": "ef3e79cf34a97d06",
        "type": "mqtt in",
        "z": "d9135ffe9bef85ab",
        "name": "",
        "topic": "home/living-room",
        "qos": "0",
        "datatype": "auto",
        "broker": "e04d18c3e76b4588",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 160,
        "y": 120,
        "wires": [
            [
                "b55b3a286721cbe9"
            ]
        ]
    },
    {
        "id": "b55b3a286721cbe9",
        "type": "csv",
        "z": "d9135ffe9bef85ab",
        "name": "Parse CSV into JSON",
        "sep": ",",
        "hdrin": "",
        "hdrout": "none",
        "multi": "one",
        "ret": "\\n",
        "temp": "temperature,humidity,pressure",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 400,
        "y": 120,
        "wires": [
            [
                "6f2a57504dfc8605"
            ]
        ]
    },
    {
        "id": "3c1acb1ff7c4757d",
        "type": "link out",
        "z": "d9135ffe9bef85ab",
        "name": "To Dashboard",
        "links": [
            "0c0dc4b02125bc4f"
        ],
        "x": 745,
        "y": 120,
        "wires": []
    },
    {
        "id": "0c0dc4b02125bc4f",
        "type": "link in",
        "z": "d9135ffe9bef85ab",
        "name": "From Subscriber",
        "links": [
            "3c1acb1ff7c4757d"
        ],
        "x": 95,
        "y": 320,
        "wires": [
            [
                "21ae3381e2bbe52a",
                "df433fad6d30792f",
                "fad040724fb8b282",
                "8e8d9ebed1221479"
            ]
        ]
    },
    {
        "id": "df433fad6d30792f",
        "type": "change",
        "z": "d9135ffe9bef85ab",
        "name": "Extract Temperature",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temperature",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "21ae3381e2bbe52a",
        "type": "debug",
        "z": "d9135ffe9bef85ab",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 230,
        "y": 240,
        "wires": []
    },
    {
        "id": "fad040724fb8b282",
        "type": "change",
        "z": "d9135ffe9bef85ab",
        "name": "Extract Humidity",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.humidity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "8e8d9ebed1221479",
        "type": "change",
        "z": "d9135ffe9bef85ab",
        "name": "Extract Pressure",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.pressure",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "6f2a57504dfc8605",
        "type": "function",
        "z": "d9135ffe9bef85ab",
        "name": "Add time info",
        "func": "var now = new Date();\nmsg.payload[\"timestamp\"]= now.getTime();\nmsg.payload[\"formatted-time\"]= now.toUTCString();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 120,
        "wires": [
            [
                "3c1acb1ff7c4757d"
            ]
        ]
    },
    {
        "id": "88a33748de4fd12e",
        "type": "ui_gauge",
        "z": "4c6a2f4497d81430",
        "name": "tank level",
        "group": "79f5eb577e4276d2",
        "order": 1,
        "width": 8,
        "height": 2,
        "gtype": "gage",
        "title": "",
        "label": "Units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 460,
        "y": 300,
        "wires": []
    },
    {
        "id": "4f1f49dadd7863ff",
        "type": "ui_switch",
        "z": "4c6a2f4497d81430",
        "name": "television",
        "label": "Television",
        "tooltip": "",
        "group": "96cc1f340a89752d",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "savina/device",
        "topicType": "msg",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 180,
        "y": 440,
        "wires": [
            [
                "b45671ca9a41354b"
            ]
        ]
    },
    {
        "id": "d0f904e99d62eafd",
        "type": "ui_chart",
        "z": "4c6a2f4497d81430",
        "name": "Monitoring",
        "group": "ccde205b05e4401a",
        "order": 1,
        "width": 8,
        "height": 5,
        "label": "Monitoring",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": "2",
        "removeOlderPoints": "200",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 470,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "b2461892ab07191f",
        "type": "mqtt in",
        "z": "4c6a2f4497d81430",
        "name": "tank level",
        "topic": "savina/tank level",
        "qos": "2",
        "datatype": "auto",
        "broker": "e5af06c09e23668b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 180,
        "y": 300,
        "wires": [
            [
                "88a33748de4fd12e"
            ]
        ]
    },
    {
        "id": "52ff33f1106e8ac7",
        "type": "mqtt in",
        "z": "4c6a2f4497d81430",
        "name": "Monitoring",
        "topic": "savina/monitoring",
        "qos": "2",
        "datatype": "auto",
        "broker": "7fc3e767a76b8959",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 180,
        "y": 360,
        "wires": [
            [
                "d0f904e99d62eafd"
            ]
        ]
    },
    {
        "id": "3742808421a259b6",
        "type": "mqtt out",
        "z": "4c6a2f4497d81430",
        "name": "",
        "topic": "savina/device",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e04d18c3e76b4588",
        "x": 720,
        "y": 540,
        "wires": []
    },
    {
        "id": "853cd92236bfb5ba",
        "type": "ui_switch",
        "z": "4c6a2f4497d81430",
        "name": "Refrigerator",
        "label": "Refrigerator",
        "tooltip": "",
        "group": "96cc1f340a89752d",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "savina/device",
        "topicType": "msg",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 190,
        "y": 500,
        "wires": [
            [
                "b45671ca9a41354b"
            ]
        ]
    },
    {
        "id": "e9e1b0bef9c9e070",
        "type": "ui_switch",
        "z": "4c6a2f4497d81430",
        "name": "Main Door",
        "label": "Main Door",
        "tooltip": "",
        "group": "96cc1f340a89752d",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "savina/device",
        "topicType": "msg",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 190,
        "y": 560,
        "wires": [
            [
                "b45671ca9a41354b"
            ]
        ]
    },
    {
        "id": "3695cf80eacfcc4f",
        "type": "ui_switch",
        "z": "4c6a2f4497d81430",
        "name": "Floor Window",
        "label": "Floor Window",
        "tooltip": "",
        "group": "96cc1f340a89752d",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "savina/device",
        "topicType": "msg",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 200,
        "y": 620,
        "wires": [
            [
                "b45671ca9a41354b"
            ]
        ]
    },
    {
        "id": "e8610a8f7cfb0b72",
        "type": "ui_switch",
        "z": "4c6a2f4497d81430",
        "name": "Camera",
        "label": "Camera",
        "tooltip": "",
        "group": "96cc1f340a89752d",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "savina/device",
        "topicType": "msg",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 180,
        "y": 680,
        "wires": [
            [
                "b45671ca9a41354b"
            ]
        ]
    },
    {
        "id": "b45671ca9a41354b",
        "type": "csv",
        "z": "4c6a2f4497d81430",
        "name": "Parse CSV into JSON",
        "sep": ",",
        "hdrin": "",
        "hdrout": "none",
        "multi": "one",
        "ret": "\\n",
        "temp": "Television,Refrigerator,Main Door,Floor Window,Camera",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 460,
        "y": 540,
        "wires": [
            [
                "3742808421a259b6"
            ]
        ]
    },
    {
        "id": "9a9c21f7d2bfe52e",
        "type": "ui_switch",
        "z": "4c6a2f4497d81430",
        "name": "Morning",
        "label": "Morning",
        "tooltip": "",
        "group": "8219f4b12fead90b",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "savina/mode",
        "topicType": "msg",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 180,
        "y": 760,
        "wires": [
            [
                "ca483ebea58b5dca"
            ]
        ]
    },
    {
        "id": "edcf2b66669f55a1",
        "type": "mqtt out",
        "z": "4c6a2f4497d81430",
        "name": "",
        "topic": "savina/mode",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e04d18c3e76b4588",
        "x": 750,
        "y": 820,
        "wires": []
    },
    {
        "id": "ca483ebea58b5dca",
        "type": "csv",
        "z": "4c6a2f4497d81430",
        "name": "Parse CSV into JSON",
        "sep": ",",
        "hdrin": "",
        "hdrout": "none",
        "multi": "one",
        "ret": "\\n",
        "temp": "Morning,Afternoon,Evening,Sleeping,Far Away",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 480,
        "y": 820,
        "wires": [
            [
                "edcf2b66669f55a1"
            ]
        ]
    },
    {
        "id": "8d03cc595a07cce3",
        "type": "ui_switch",
        "z": "4c6a2f4497d81430",
        "name": "Afternoon",
        "label": "Afternoon",
        "tooltip": "",
        "group": "8219f4b12fead90b",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "savina/mode",
        "topicType": "msg",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 180,
        "y": 800,
        "wires": [
            [
                "ca483ebea58b5dca"
            ]
        ]
    },
    {
        "id": "9e76135911180b73",
        "type": "ui_switch",
        "z": "4c6a2f4497d81430",
        "name": "Evening",
        "label": "Evening",
        "tooltip": "",
        "group": "8219f4b12fead90b",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "savina/mode",
        "topicType": "msg",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 180,
        "y": 840,
        "wires": [
            [
                "ca483ebea58b5dca"
            ]
        ]
    },
    {
        "id": "696a09c67ba74917",
        "type": "ui_switch",
        "z": "4c6a2f4497d81430",
        "name": "Sleeping",
        "label": "Sleeping",
        "tooltip": "",
        "group": "8219f4b12fead90b",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "savina/mode",
        "topicType": "msg",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 180,
        "y": 880,
        "wires": [
            [
                "ca483ebea58b5dca"
            ]
        ]
    },
    {
        "id": "d4104a5183aedb28",
        "type": "ui_switch",
        "z": "4c6a2f4497d81430",
        "name": "Far Away",
        "label": "Far Away",
        "tooltip": "",
        "group": "8219f4b12fead90b",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "savina/mode",
        "topicType": "msg",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 180,
        "y": 920,
        "wires": [
            [
                "ca483ebea58b5dca"
            ]
        ]
    },
    {
        "id": "82b9febfdda0a369",
        "type": "mqtt in",
        "z": "4c6a2f4497d81430",
        "name": "Ambient",
        "topic": "savina/ambient",
        "qos": "2",
        "datatype": "auto",
        "broker": "e5af06c09e23668b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 180,
        "y": 40,
        "wires": [
            [
                "143d0470407fde86"
            ]
        ]
    },
    {
        "id": "143d0470407fde86",
        "type": "csv",
        "z": "4c6a2f4497d81430",
        "name": "Parse CSV into JSON",
        "sep": ",",
        "hdrin": "",
        "hdrout": "none",
        "multi": "one",
        "ret": "\\n",
        "temp": "Temperature,Humidity",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 380,
        "y": 40,
        "wires": [
            [
                "1f671daac9a7fd81"
            ]
        ]
    },
    {
        "id": "1f671daac9a7fd81",
        "type": "link out",
        "z": "4c6a2f4497d81430",
        "name": "To Dashboard",
        "links": [
            "c04c0b0b1bf14827"
        ],
        "x": 575,
        "y": 40,
        "wires": []
    },
    {
        "id": "c04c0b0b1bf14827",
        "type": "link in",
        "z": "4c6a2f4497d81430",
        "name": "From Subscriber",
        "links": [
            "1f671daac9a7fd81"
        ],
        "x": 145,
        "y": 140,
        "wires": [
            [
                "96bd71c1296796c6",
                "5f2818f03140d132"
            ]
        ]
    },
    {
        "id": "96bd71c1296796c6",
        "type": "change",
        "z": "4c6a2f4497d81430",
        "name": "Extract Temperature",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Temperature",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 120,
        "wires": [
            [
                "40a6a8359408cb87"
            ]
        ]
    },
    {
        "id": "5f2818f03140d132",
        "type": "change",
        "z": "4c6a2f4497d81430",
        "name": "Extract Humidity",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Humidity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 180,
        "wires": [
            [
                "a5247fb39ad77acf"
            ]
        ]
    },
    {
        "id": "40a6a8359408cb87",
        "type": "ui_text",
        "z": "4c6a2f4497d81430",
        "group": "f9501af5923dc71c",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Temp",
        "label": "Nhiệt độ:",
        "format": "{{msg.payload}} &deg;C",
        "layout": "row-left",
        "x": 580,
        "y": 120,
        "wires": []
    },
    {
        "id": "a5247fb39ad77acf",
        "type": "ui_text",
        "z": "4c6a2f4497d81430",
        "group": "f6839afe86d26e5a",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Humidity",
        "label": "Độ ẩm:",
        "format": "{{msg.payload}} %",
        "layout": "row-left",
        "x": 580,
        "y": 180,
        "wires": []
    },
    {
        "id": "253236fcfb80848a",
        "type": "ui_button",
        "z": "4c6a2f4497d81430",
        "name": "Button",
        "group": "6ae0029067544689",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "BUTTON",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "on",
        "payloadType": "str",
        "topic": "savina/button floor",
        "topicType": "str",
        "x": 310,
        "y": 1020,
        "wires": [
            [
                "464d87d5ebb64b3f"
            ]
        ]
    },
    {
        "id": "c006a2fa9d685f02",
        "type": "mqtt out",
        "z": "4c6a2f4497d81430",
        "name": "",
        "topic": "savina/button",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e04d18c3e76b4588",
        "x": 750,
        "y": 1060,
        "wires": []
    },
    {
        "id": "4b48a4cde2b003bb",
        "type": "ui_button",
        "z": "4c6a2f4497d81430",
        "name": "Level 1",
        "group": "6ae0029067544689",
        "order": 4,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "BUTTON",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "on",
        "payloadType": "str",
        "topic": "savina/button ",
        "topicType": "str",
        "x": 300,
        "y": 1080,
        "wires": [
            [
                "464d87d5ebb64b3f"
            ]
        ]
    },
    {
        "id": "bf63450f6a79ffd4",
        "type": "ui_button",
        "z": "4c6a2f4497d81430",
        "name": "Level 2",
        "group": "6ae0029067544689",
        "order": 6,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "BUTTON",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "on",
        "payloadType": "str",
        "topic": "savina/button floor",
        "topicType": "str",
        "x": 300,
        "y": 1140,
        "wires": [
            [
                "464d87d5ebb64b3f"
            ]
        ]
    },
    {
        "id": "464d87d5ebb64b3f",
        "type": "csv",
        "z": "4c6a2f4497d81430",
        "name": "Parse CSV into JSON",
        "sep": ",",
        "hdrin": "",
        "hdrout": "none",
        "multi": "one",
        "ret": "\\n",
        "temp": "Floor,Level1,Level2",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 520,
        "y": 1060,
        "wires": [
            [
                "c006a2fa9d685f02"
            ]
        ]
    },
    {
        "id": "6e9705d10a96c743",
        "type": "ui_button",
        "z": "4c6a2f4497d81430",
        "name": "floor",
        "group": "6ae0029067544689",
        "order": 1,
        "width": 5,
        "height": 1,
        "passthru": true,
        "label": "FLOOR",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "41bc6f3d950594e4",
        "type": "ui_button",
        "z": "4c6a2f4497d81430",
        "name": "level 1",
        "group": "6ae0029067544689",
        "order": 3,
        "width": 5,
        "height": 1,
        "passthru": true,
        "label": "LEVEL 1",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "9909fccab1e58b37",
        "type": "ui_button",
        "z": "4c6a2f4497d81430",
        "name": "level 2",
        "group": "6ae0029067544689",
        "order": 5,
        "width": 5,
        "height": 1,
        "passthru": true,
        "label": "LEVEL 2",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "9a496e14dd46f609",
        "type": "mqtt in",
        "z": "4c6a2f4497d81430",
        "name": "savina/power",
        "topic": "savina/power",
        "qos": "2",
        "datatype": "auto",
        "broker": "e5af06c09e23668b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 190,
        "y": 1260,
        "wires": [
            [
                "f7cb5dc06c5ba580"
            ]
        ]
    },
    {
        "id": "f7cb5dc06c5ba580",
        "type": "csv",
        "z": "4c6a2f4497d81430",
        "name": "Parse CSV into JSON",
        "sep": ",",
        "hdrin": "",
        "hdrout": "none",
        "multi": "one",
        "ret": "\\n",
        "temp": "u,i,p,cosphi",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 440,
        "y": 1260,
        "wires": [
            [
                "e354ec25956f596b"
            ]
        ]
    },
    {
        "id": "e354ec25956f596b",
        "type": "link out",
        "z": "4c6a2f4497d81430",
        "name": "To Dashboard",
        "links": [
            "e1ad5efa0d70d1ad"
        ],
        "x": 655,
        "y": 1260,
        "wires": []
    },
    {
        "id": "e1ad5efa0d70d1ad",
        "type": "link in",
        "z": "4c6a2f4497d81430",
        "name": "From Subscriber",
        "links": [
            "e354ec25956f596b"
        ],
        "x": 145,
        "y": 1360,
        "wires": [
            [
                "89b13988b4b5467a",
                "256e36878b747f3f",
                "7d8cbe24be496355",
                "9162b6af567e0aa9"
            ]
        ]
    },
    {
        "id": "89b13988b4b5467a",
        "type": "change",
        "z": "4c6a2f4497d81430",
        "name": "Extract U",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.u",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 1340,
        "wires": [
            [
                "0368233d67558ae3"
            ]
        ]
    },
    {
        "id": "256e36878b747f3f",
        "type": "change",
        "z": "4c6a2f4497d81430",
        "name": "Extract I",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.i",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 1400,
        "wires": [
            [
                "43c1121edef4fabc"
            ]
        ]
    },
    {
        "id": "0368233d67558ae3",
        "type": "ui_text",
        "z": "4c6a2f4497d81430",
        "group": "ab9f65f3794d5f6a",
        "order": 1,
        "width": 2,
        "height": 1,
        "name": "Voltage",
        "label": "Voltage",
        "format": "{{msg.payload}} ",
        "layout": "row-left",
        "x": 590,
        "y": 1340,
        "wires": []
    },
    {
        "id": "7d8cbe24be496355",
        "type": "change",
        "z": "4c6a2f4497d81430",
        "name": "Extract P",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.p",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 1460,
        "wires": [
            [
                "45a74888aebbe418"
            ]
        ]
    },
    {
        "id": "9162b6af567e0aa9",
        "type": "change",
        "z": "4c6a2f4497d81430",
        "name": "Extract COSPHI",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.cosphi",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 1520,
        "wires": [
            [
                "c3c3b0e4451ddc18"
            ]
        ]
    },
    {
        "id": "43c1121edef4fabc",
        "type": "ui_text",
        "z": "4c6a2f4497d81430",
        "group": "ab9f65f3794d5f6a",
        "order": 2,
        "width": 2,
        "height": 1,
        "name": "Current",
        "label": "Current",
        "format": "{{msg.payload}} ",
        "layout": "row-left",
        "x": 600,
        "y": 1400,
        "wires": []
    },
    {
        "id": "45a74888aebbe418",
        "type": "ui_text",
        "z": "4c6a2f4497d81430",
        "group": "ab9f65f3794d5f6a",
        "order": 3,
        "width": 2,
        "height": 1,
        "name": "Power",
        "label": "Power",
        "format": "{{msg.payload}} ",
        "layout": "row-left",
        "x": 590,
        "y": 1460,
        "wires": []
    },
    {
        "id": "c3c3b0e4451ddc18",
        "type": "ui_text",
        "z": "4c6a2f4497d81430",
        "group": "ab9f65f3794d5f6a",
        "order": 4,
        "width": 2,
        "height": 1,
        "name": "Cosphi",
        "label": "Cosphi:",
        "format": "{{msg.payload}} ",
        "layout": "row-left",
        "x": 600,
        "y": 1520,
        "wires": []
    },
    {
        "id": "240c1a15d26ff57d",
        "type": "ui_table",
        "z": "4c6a2f4497d81430",
        "group": "6905fe91bdd3c12c",
        "name": "Alarm",
        "order": 1,
        "width": 0,
        "height": 0,
        "columns": [
            {
                "field": "",
                "title": "Device ID",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "",
                "title": "Devices",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "",
                "title": "Status",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 1,
        "cts": true,
        "x": 210,
        "y": 1580,
        "wires": [
            []
        ],
        "info": "[\r\n    {\r\n        \"Name\": \"Kazuhito Yokoi\",\r\n        \"Age\": \"35\",\r\n        \"Favourite Color\": \"red\",\r\n        \"Date Of Birth\": \"12/09/1983\",\r\n        \"Rating\": 5\r\n    },\r\n    {\r\n        \"Name\": \"Oli Bob\",\r\n        \"Age\": \"12\",\r\n        \"Favourite Color\": \"red\",\r\n        \"Date Of Birth\": \"12/08/2017\",\r\n        \"Rating\": 2\r\n    }\r\n]"
    },
    {
        "id": "039f0a77c4679453",
        "type": "mqtt in",
        "z": "4c6a2f4497d81430",
        "name": "savina/info_power_in",
        "topic": "savina/info_power_in",
        "qos": "2",
        "datatype": "auto",
        "broker": "e5af06c09e23668b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 260,
        "y": 1640,
        "wires": [
            [
                "c25bca4c6e9f67df"
            ]
        ]
    },
    {
        "id": "13f482b08f18508a",
        "type": "mqtt in",
        "z": "4c6a2f4497d81430",
        "name": "savina/info_power_out",
        "topic": "savina/info_power_out",
        "qos": "2",
        "datatype": "auto",
        "broker": "e5af06c09e23668b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 260,
        "y": 1680,
        "wires": [
            [
                "70368574ccf6559c"
            ]
        ]
    },
    {
        "id": "2f4e964af2e71084",
        "type": "mqtt in",
        "z": "4c6a2f4497d81430",
        "name": "savina/info_solar",
        "topic": "savina/info_solar",
        "qos": "2",
        "datatype": "auto",
        "broker": "e5af06c09e23668b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 240,
        "y": 1720,
        "wires": [
            [
                "b961cef8ca190fe6"
            ]
        ]
    },
    {
        "id": "307dc6aa35bb0e51",
        "type": "mqtt in",
        "z": "4c6a2f4497d81430",
        "name": "savina/info_hybrid",
        "topic": "savina/info_hybrid",
        "qos": "2",
        "datatype": "auto",
        "broker": "e5af06c09e23668b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 250,
        "y": 1760,
        "wires": [
            []
        ]
    },
    {
        "id": "c25bca4c6e9f67df",
        "type": "ui_text",
        "z": "4c6a2f4497d81430",
        "group": "e649baf4927a8483",
        "order": 1,
        "width": 4,
        "height": 1,
        "name": "Power In",
        "label": "Power In:",
        "format": "{{msg.payload}} kW",
        "layout": "row-left",
        "x": 540,
        "y": 1640,
        "wires": []
    },
    {
        "id": "70368574ccf6559c",
        "type": "ui_text",
        "z": "4c6a2f4497d81430",
        "group": "e649baf4927a8483",
        "order": 2,
        "width": 4,
        "height": 1,
        "name": "Power Out",
        "label": "Power Out:",
        "format": "{{msg.payload}} kW",
        "layout": "row-left",
        "x": 550,
        "y": 1680,
        "wires": []
    },
    {
        "id": "b961cef8ca190fe6",
        "type": "ui_text",
        "z": "4c6a2f4497d81430",
        "group": "e649baf4927a8483",
        "order": 3,
        "width": 4,
        "height": 1,
        "name": "Solar",
        "label": "Solar",
        "format": "",
        "layout": "row-left",
        "x": 530,
        "y": 1720,
        "wires": []
    },
    {
        "id": "ab1f56f37a7434a3",
        "type": "ui_text",
        "z": "4c6a2f4497d81430",
        "group": "e649baf4927a8483",
        "order": 4,
        "width": 4,
        "height": 1,
        "name": "Hybrid",
        "label": "Hybrid",
        "format": "",
        "layout": "row-left",
        "x": 530,
        "y": 1760,
        "wires": []
    },
    {
        "id": "ed6a9997a3b018da",
        "type": "mqtt in",
        "z": "4c6a2f4497d81430",
        "name": "savina/ui1",
        "topic": "savina/ui1",
        "qos": "2",
        "datatype": "auto",
        "broker": "e5af06c09e23668b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 220,
        "y": 1840,
        "wires": [
            [
                "ceb4fb755be22248"
            ]
        ]
    },
    {
        "id": "ceb4fb755be22248",
        "type": "ui_text",
        "z": "4c6a2f4497d81430",
        "group": "0bec16f9a8a9e2ec",
        "order": 1,
        "width": 1,
        "height": 1,
        "name": "1",
        "label": "1",
        "format": "",
        "layout": "row-left",
        "x": 530,
        "y": 1840,
        "wires": []
    },
    {
        "id": "dc8983a72e2388bd",
        "type": "mqtt in",
        "z": "4c6a2f4497d81430",
        "name": "savina/ui2",
        "topic": "savina/ui2",
        "qos": "2",
        "datatype": "auto",
        "broker": "e5af06c09e23668b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 222,
        "y": 1881,
        "wires": [
            [
                "9ecc30f5077f71d7"
            ]
        ]
    },
    {
        "id": "37d133e82d041755",
        "type": "mqtt in",
        "z": "4c6a2f4497d81430",
        "name": "savina/ui3",
        "topic": "savina/ui3",
        "qos": "2",
        "datatype": "auto",
        "broker": "e5af06c09e23668b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 220,
        "y": 1920,
        "wires": [
            [
                "e46dd54c1fff2398"
            ]
        ]
    },
    {
        "id": "54c6df38dc55ef7b",
        "type": "mqtt in",
        "z": "4c6a2f4497d81430",
        "name": "savina/ui4",
        "topic": "savina/ui4",
        "qos": "2",
        "datatype": "auto",
        "broker": "e5af06c09e23668b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 220,
        "y": 1960,
        "wires": [
            [
                "ec709b7f77125351"
            ]
        ]
    },
    {
        "id": "9ecc30f5077f71d7",
        "type": "ui_text",
        "z": "4c6a2f4497d81430",
        "group": "0bec16f9a8a9e2ec",
        "order": 2,
        "width": 1,
        "height": 1,
        "name": "2",
        "label": "2",
        "format": "",
        "layout": "row-left",
        "x": 530,
        "y": 1880,
        "wires": []
    },
    {
        "id": "e46dd54c1fff2398",
        "type": "ui_text",
        "z": "4c6a2f4497d81430",
        "group": "0bec16f9a8a9e2ec",
        "order": 3,
        "width": 1,
        "height": 1,
        "name": "3",
        "label": "3",
        "format": "",
        "layout": "row-left",
        "x": 530,
        "y": 1920,
        "wires": []
    },
    {
        "id": "ec709b7f77125351",
        "type": "ui_text",
        "z": "4c6a2f4497d81430",
        "group": "0bec16f9a8a9e2ec",
        "order": 4,
        "width": 1,
        "height": 1,
        "name": "4",
        "label": "4",
        "format": "",
        "layout": "row-left",
        "x": 530,
        "y": 1960,
        "wires": []
    },
    {
        "id": "5bdf1f54e03ebb43",
        "type": "modbus-read",
        "z": "9c31a2be52eef541",
        "name": "",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "40001",
        "quantity": "1",
        "rate": "3",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "ec2942f1b10ce1f7",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 490,
        "y": 160,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "d8e9e77d49e7fa8d",
        "type": "debug",
        "z": "9c31a2be52eef541",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 160,
        "wires": []
    },
    {
        "id": "efdb14e6f37c819e",
        "type": "modbus-write",
        "z": "9c31a2be52eef541",
        "name": "",
        "showStatusActivities": true,
        "showErrors": false,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "40002",
        "quantity": "1",
        "server": "ec2942f1b10ce1f7",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 710,
        "y": 260,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "b2d5e8411b8b490f",
        "type": "inject",
        "z": "9c31a2be52eef541",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "544",
        "payloadType": "num",
        "x": 460,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "27eafc65e0256021",
        "type": "ui_text",
        "z": "56a3c2b9b472bafc",
        "group": "72d04390adc6ee7f",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "Alarm",
        "label": "Alarm:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 690,
        "y": 340,
        "wires": []
    },
    {
        "id": "fcce7f7e973545d0",
        "type": "modbus-read",
        "z": "56a3c2b9b472bafc",
        "name": "Thanh ghi nhiệt độ",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "",
        "quantity": "",
        "rate": "5",
        "rateUnit": "m",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "ec2942f1b10ce1f7",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 350,
        "y": 400,
        "wires": [
            [
                "c392690a30202961"
            ],
            []
        ]
    },
    {
        "id": "c392690a30202961",
        "type": "ui_text",
        "z": "56a3c2b9b472bafc",
        "group": "af2b76e150dbdd59",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Temperature",
        "label": "Temperature:",
        "format": "{{msg.payload}} &deg;C",
        "layout": "row-left",
        "x": 670,
        "y": 400,
        "wires": []
    },
    {
        "id": "f39e537f98875028",
        "type": "modbus-read",
        "z": "56a3c2b9b472bafc",
        "name": "Thanh ghi mã lỗi",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "",
        "quantity": "",
        "rate": "5",
        "rateUnit": "m",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "ec2942f1b10ce1f7",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 320,
        "y": 300,
        "wires": [
            [
                "995d06d56c46ab75"
            ],
            []
        ]
    },
    {
        "id": "995d06d56c46ab75",
        "type": "switch",
        "z": "56a3c2b9b472bafc",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 510,
        "y": 300,
        "wires": [
            [
                "a66af2b07bac3a36"
            ],
            [
                "27eafc65e0256021"
            ]
        ]
    },
    {
        "id": "a66af2b07bac3a36",
        "type": "ui_text",
        "z": "56a3c2b9b472bafc",
        "group": "72d04390adc6ee7f",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "Normal",
        "label": "Normal",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 700,
        "y": 280,
        "wires": []
    },
    {
        "id": "dd7861fa5203489d",
        "type": "ui_text",
        "z": "56a3c2b9b472bafc",
        "group": "831a8462d6a881e7",
        "order": 1,
        "width": "3",
        "height": 1,
        "name": "Power In",
        "label": "Power In:",
        "format": "{{msg.payload}} kW",
        "layout": "row-left",
        "x": 640,
        "y": 500,
        "wires": []
    },
    {
        "id": "315b6bde800ac4cd",
        "type": "ui_text",
        "z": "56a3c2b9b472bafc",
        "group": "831a8462d6a881e7",
        "order": 2,
        "width": "3",
        "height": 1,
        "name": "Power Out",
        "label": "Power Out:",
        "format": "{{msg.payload}} kW",
        "layout": "row-left",
        "x": 650,
        "y": 540,
        "wires": []
    },
    {
        "id": "7d5df592b2a3766b",
        "type": "ui_text",
        "z": "56a3c2b9b472bafc",
        "group": "831a8462d6a881e7",
        "order": 3,
        "width": "3",
        "height": 1,
        "name": "Ua",
        "label": "Ua:",
        "format": "{{msg.payload}} V",
        "layout": "row-left",
        "x": 630,
        "y": 580,
        "wires": []
    },
    {
        "id": "96de367a09222bef",
        "type": "ui_text",
        "z": "56a3c2b9b472bafc",
        "group": "831a8462d6a881e7",
        "order": 3,
        "width": "3",
        "height": 1,
        "name": "Ub",
        "label": "Ub:",
        "format": "{{msg.payload}} V",
        "layout": "row-left",
        "x": 630,
        "y": 620,
        "wires": []
    },
    {
        "id": "3bed2e420ca9a251",
        "type": "ui_text",
        "z": "56a3c2b9b472bafc",
        "group": "831a8462d6a881e7",
        "order": 3,
        "width": "3",
        "height": 1,
        "name": "Uc",
        "label": "Uc:",
        "format": "{{msg.payload}} V",
        "layout": "row-left",
        "x": 630,
        "y": 660,
        "wires": []
    },
    {
        "id": "81e9eb5acf73e45a",
        "type": "ui_text",
        "z": "56a3c2b9b472bafc",
        "group": "831a8462d6a881e7",
        "order": 3,
        "width": "3",
        "height": 1,
        "name": "Ia",
        "label": "Ia:",
        "format": "{{msg.payload}} A",
        "layout": "row-left",
        "x": 630,
        "y": 700,
        "wires": []
    },
    {
        "id": "79b55b20bf96a04b",
        "type": "ui_text",
        "z": "56a3c2b9b472bafc",
        "group": "831a8462d6a881e7",
        "order": 3,
        "width": "3",
        "height": 1,
        "name": "Ib",
        "label": "Ib:",
        "format": "{{msg.payload}} A",
        "layout": "row-left",
        "x": 630,
        "y": 740,
        "wires": []
    },
    {
        "id": "1e8bc6796a44ee50",
        "type": "ui_text",
        "z": "56a3c2b9b472bafc",
        "group": "831a8462d6a881e7",
        "order": 3,
        "width": "3",
        "height": 1,
        "name": "Ic",
        "label": "Ic:",
        "format": "{{msg.payload}} A",
        "layout": "row-left",
        "x": 630,
        "y": 780,
        "wires": []
    },
    {
        "id": "1da21c71e306a5fa",
        "type": "ui_text",
        "z": "56a3c2b9b472bafc",
        "group": "831a8462d6a881e7",
        "order": 3,
        "width": "3",
        "height": 1,
        "name": "f",
        "label": "f:",
        "format": "{{msg.payload}} A",
        "layout": "row-left",
        "x": 630,
        "y": 820,
        "wires": []
    },
    {
        "id": "4b0a64a85b148649",
        "type": "modbus-read",
        "z": "56a3c2b9b472bafc",
        "name": "Pin",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "",
        "quantity": "",
        "rate": "5",
        "rateUnit": "m",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "ec2942f1b10ce1f7",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 310,
        "y": 500,
        "wires": [
            [
                "dd7861fa5203489d"
            ],
            []
        ]
    },
    {
        "id": "1757bb3a98e17192",
        "type": "modbus-read",
        "z": "56a3c2b9b472bafc",
        "name": "Pout",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "",
        "quantity": "",
        "rate": "5",
        "rateUnit": "m",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "ec2942f1b10ce1f7",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 310,
        "y": 540,
        "wires": [
            [
                "315b6bde800ac4cd",
                "d6b4a0f44077cd74"
            ],
            []
        ]
    },
    {
        "id": "bb7199ecf9a89cd3",
        "type": "modbus-read",
        "z": "56a3c2b9b472bafc",
        "name": "Ic",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "",
        "quantity": "",
        "rate": "5",
        "rateUnit": "m",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "ec2942f1b10ce1f7",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 310,
        "y": 780,
        "wires": [
            [
                "1e8bc6796a44ee50"
            ],
            []
        ]
    },
    {
        "id": "fdc2ddb131d4b24a",
        "type": "modbus-read",
        "z": "56a3c2b9b472bafc",
        "name": "Ua",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "",
        "quantity": "",
        "rate": "5",
        "rateUnit": "m",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "ec2942f1b10ce1f7",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 310,
        "y": 580,
        "wires": [
            [
                "7d5df592b2a3766b"
            ],
            []
        ]
    },
    {
        "id": "73a19a0cb09b7154",
        "type": "modbus-read",
        "z": "56a3c2b9b472bafc",
        "name": "Ub",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "",
        "quantity": "",
        "rate": "5",
        "rateUnit": "m",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "ec2942f1b10ce1f7",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 310,
        "y": 620,
        "wires": [
            [
                "96de367a09222bef"
            ],
            []
        ]
    },
    {
        "id": "83c725928531ac05",
        "type": "modbus-read",
        "z": "56a3c2b9b472bafc",
        "name": "Uc",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "",
        "quantity": "",
        "rate": "5",
        "rateUnit": "m",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "ec2942f1b10ce1f7",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 310,
        "y": 660,
        "wires": [
            [
                "3bed2e420ca9a251"
            ],
            []
        ]
    },
    {
        "id": "0edac03979ba95d4",
        "type": "modbus-read",
        "z": "56a3c2b9b472bafc",
        "name": "Ia",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "",
        "quantity": "",
        "rate": "5",
        "rateUnit": "m",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "ec2942f1b10ce1f7",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 310,
        "y": 700,
        "wires": [
            [
                "81e9eb5acf73e45a"
            ],
            []
        ]
    },
    {
        "id": "db21a95000b3a7aa",
        "type": "modbus-read",
        "z": "56a3c2b9b472bafc",
        "name": "Ib",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "",
        "quantity": "",
        "rate": "5",
        "rateUnit": "m",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "ec2942f1b10ce1f7",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 310,
        "y": 740,
        "wires": [
            [
                "79b55b20bf96a04b"
            ],
            []
        ]
    },
    {
        "id": "7d92d7de071ab2cd",
        "type": "modbus-read",
        "z": "56a3c2b9b472bafc",
        "name": "f",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "",
        "quantity": "",
        "rate": "5",
        "rateUnit": "m",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "ec2942f1b10ce1f7",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 310,
        "y": 820,
        "wires": [
            [
                "1da21c71e306a5fa"
            ],
            []
        ]
    },
    {
        "id": "679933f036515af5",
        "type": "ui_text",
        "z": "56a3c2b9b472bafc",
        "group": "831a8462d6a881e7",
        "order": 3,
        "width": "3",
        "height": 1,
        "name": "cosphi",
        "label": "Cosphi:",
        "format": "{{msg.payload}} ",
        "layout": "row-left",
        "x": 630,
        "y": 860,
        "wires": []
    },
    {
        "id": "ef35c441ca88b2f4",
        "type": "modbus-read",
        "z": "56a3c2b9b472bafc",
        "name": "Cosphi",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "",
        "quantity": "",
        "rate": "5",
        "rateUnit": "m",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "ec2942f1b10ce1f7",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 310,
        "y": 860,
        "wires": [
            [
                "679933f036515af5"
            ],
            []
        ]
    },
    {
        "id": "d6b4a0f44077cd74",
        "type": "ui_chart",
        "z": "56a3c2b9b472bafc",
        "name": "Monitoring",
        "group": "93fa8cbc8627b07e",
        "order": 1,
        "width": "6",
        "height": 5,
        "label": "Monitoring",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "16",
        "removeOlder": "2",
        "removeOlderPoints": "200",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 650,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "d8591cb873dba0a7",
        "type": "ui_text",
        "z": "56a3c2b9b472bafc",
        "group": "420e8b74556266c8",
        "order": 3,
        "width": "3",
        "height": 1,
        "name": "Ubat",
        "label": "Ubat:",
        "format": "{{msg.payload}} V",
        "layout": "row-left",
        "x": 630,
        "y": 140,
        "wires": []
    },
    {
        "id": "434718db8c65ba13",
        "type": "modbus-read",
        "z": "56a3c2b9b472bafc",
        "name": "Ubat",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "40004",
        "quantity": "1",
        "rate": "1",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "ec2942f1b10ce1f7",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 310,
        "y": 120,
        "wires": [
            [
                "d8591cb873dba0a7",
                "d82fba0e532d856d",
                "5c5be24e50c40d1e"
            ],
            []
        ]
    },
    {
        "id": "6cdeeb7cb840846e",
        "type": "ui_text",
        "z": "56a3c2b9b472bafc",
        "group": "420e8b74556266c8",
        "order": 3,
        "width": "3",
        "height": 1,
        "name": "Ibat",
        "label": "Ibat: ",
        "format": "{{msg.payload}} A",
        "layout": "row-left",
        "x": 630,
        "y": 180,
        "wires": []
    },
    {
        "id": "aa45ee05915031b2",
        "type": "modbus-read",
        "z": "56a3c2b9b472bafc",
        "name": "Ibat",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "",
        "quantity": "",
        "rate": "5",
        "rateUnit": "m",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "ec2942f1b10ce1f7",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 310,
        "y": 180,
        "wires": [
            [
                "6cdeeb7cb840846e"
            ],
            []
        ]
    },
    {
        "id": "16c887b5d87b167d",
        "type": "ui_text",
        "z": "56a3c2b9b472bafc",
        "group": "420e8b74556266c8",
        "order": 3,
        "width": "3",
        "height": 1,
        "name": "SOC",
        "label": "SOC: ",
        "format": "{{msg.payload}} %",
        "layout": "row-left",
        "x": 630,
        "y": 220,
        "wires": []
    },
    {
        "id": "6bddf73c62d11ae8",
        "type": "modbus-read",
        "z": "56a3c2b9b472bafc",
        "name": "SOC",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "",
        "quantity": "",
        "rate": "5",
        "rateUnit": "m",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "ec2942f1b10ce1f7",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 310,
        "y": 220,
        "wires": [
            [
                "16c887b5d87b167d"
            ],
            []
        ]
    },
    {
        "id": "ad09cf59f8a4ab8d",
        "type": "ui_text",
        "z": "56a3c2b9b472bafc",
        "group": "4dc711c2ebdbe644",
        "order": 3,
        "width": "3",
        "height": 1,
        "name": "Charge",
        "label": "Charge:",
        "format": "{{msg.payload}} ",
        "layout": "row-left",
        "x": 740,
        "y": 1020,
        "wires": []
    },
    {
        "id": "e5ca6472c18ab337",
        "type": "modbus-read",
        "z": "56a3c2b9b472bafc",
        "name": "Mode",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "40001",
        "quantity": "1",
        "rate": "5",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "ec2942f1b10ce1f7",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 250,
        "y": 1060,
        "wires": [
            [
                "d780ecb7344763ec"
            ],
            []
        ]
    },
    {
        "id": "7a1f6019b65ff216",
        "type": "ui_text",
        "z": "56a3c2b9b472bafc",
        "group": "4dc711c2ebdbe644",
        "order": 3,
        "width": "3",
        "height": 1,
        "name": "on grid",
        "label": "On - Grid:",
        "format": "{{msg.payload}} ",
        "layout": "row-left",
        "x": 730,
        "y": 1060,
        "wires": []
    },
    {
        "id": "10a42cb2ef26a724",
        "type": "ui_text",
        "z": "56a3c2b9b472bafc",
        "group": "4dc711c2ebdbe644",
        "order": 3,
        "width": "3",
        "height": 1,
        "name": "off grid",
        "label": "Off - Grid: ",
        "format": "{{msg.payload}} ",
        "layout": "row-left",
        "x": 730,
        "y": 1100,
        "wires": []
    },
    {
        "id": "d780ecb7344763ec",
        "type": "switch",
        "z": "56a3c2b9b472bafc",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 410,
        "y": 1060,
        "wires": [
            [
                "ad09cf59f8a4ab8d"
            ],
            [
                "7a1f6019b65ff216"
            ],
            [
                "10a42cb2ef26a724"
            ]
        ]
    },
    {
        "id": "639642a13066cc2e",
        "type": "ui_switch",
        "z": "56a3c2b9b472bafc",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": true,
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": false,
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 70,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "06312b5cef105b98",
        "type": "ui_numeric",
        "z": "56a3c2b9b472bafc",
        "name": "",
        "label": "numeric",
        "tooltip": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "step": 1,
        "x": 120,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "d82fba0e532d856d",
        "type": "http request",
        "z": "56a3c2b9b472bafc",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://savina-iot-solution.herokuapp.com/",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 690,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "5c5be24e50c40d1e",
        "type": "debug",
        "z": "56a3c2b9b472bafc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 60,
        "wires": []
    }
]